.card {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

img {
  border-radius: 50%;
  object-fit: cover;
}

.cricle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #eeeeee;
  position: absolute;
  right: 0;
  top: 0px;
  cursor: pointer;
}
p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  padding: 0.8rem 1.4rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1em;
}
